/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
  background-color: #ffffff;  
  transition: background-color 0.3s, color 0.3s;
  background: url("../assets/images/BGdark.png");
  zoom: 115%;   

  .card {
    background: url("../assets/images/button.png"); 
    width: 249px;
    height: 78px;    
    padding: 1rem;
    text-decoration: none;
    color: inherit;
    overflow:hidden;    
  }  

  header {
    padding-bottom: 0.2rem;        
    padding-bottom: 0.1rem;    
    background: url("../assets/images/headerdark.png");
    border-bottom: 3px solid #000;
    transition: background-color 0.3s ease; /* Transition for smooth color change */
  } 

}

body.light-mode {
  background: url("../assets/images/BG.png");
zoom: 115%;     
  color: #000; /* Dark text for light mode */

  .card{
    background: url("../assets/images/buttonlight.png");
    width: 249px;
    height: 78px;          
    padding: 1rem;
    text-decoration: none;
    color: inherit;
    overflow:hidden;      
  }

  header {
    background: url("../assets/images/header.png");
    border-bottom: 3px solid #000;
    transition: background-color 0.3s ease; /* Transition for smooth color change */
  }  
  
}

.wiki-logo {
  text-decoration: none;  
  max-width: 400px;
  padding-left: 4rem;   
  height: auto;
}

.settings-icon {
  padding-top: 2rem;
  padding-right: 1rem;   
  width: 50;
  height: 50px;
  cursor: pointer;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;  
}

/* Settings Menu Modal */
.settings-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: backdrop-filter 0.3s;
}

.settings-modal.blur {
  backdrop-filter: blur(5px);
}

.settings-menu {
  background-color: #222;
  color: #fff;
  padding: 2rem; /* Increase padding to make it bigger */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.3s ease-out, width 0.3s ease-out, height 0.3s ease-out;
  z-index: 100;
  width: 400px; /* Increase width */
  max-height: 80vh; /* Ensure it doesn't take up too much vertical space */
  overflow-y: auto; /* Add scroll if content exceeds max-height */
}

/* Grid Layout */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 2rem;
  padding-top: 0.4rem; 
  padding-left: 3rem;   
  margin: auto;
  overflow:hidden;  
}

/* Card Styles */

.card h2 {
  margin: 0 0 0.2rem;
  font-size: 1.1rem;
}

.card p {
  margin: 0;
  font-size: 0.9rem;
  color: inherit;
}

summary {
  font-size: x-large;
}

 /* Style the button that is used to open and close the collapsible content */
 .collapsible {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));  
  background-color: #48494a;
  color: rgb(98, 98, 98);
  cursor: pointer;
  padding: 12px;
  width: 40%;
  max-height: 100px;  
  border: none;
  text-align: center;
  outline: none;
  font-size: 20px;
  transition: max-height 0.2s ease-out;  
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #4c4e4f;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0px;
  color: rgb(98, 98, 98);  
  background-color: #313233;
  max-height: 0;
  max-width: 531px;  
  overflow: hidden;
  text-align: left;
  border: none;    
  outline: none;  
  transition: max-height 0.2s ease-out;
  margin-bottom: 10px;  
}
