/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

header {
  display: flex;
  align-items: center;
  background-color: #1e1e1e;
  padding: 1rem;
  border-bottom: 2px solid #444;
}

.wiki-logo {
  max-width: 300px;
  height: auto;
}

.home-icon img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.header-content h1 {
  font-size: 2.5rem;
  margin: 0;
}

.header-content p {
  font-size: 1rem;
  margin: 0.5rem 0 0;
}

.settings-icon {
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin-left: auto; /* Push to the right side */
}

/* Settings Menu Modal */
.settings-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.settings-menu {
  background-color: #222;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.3s ease-out;
  z-index: 100;
  width: 300px;
}

/* Light mode styles */
body.light-mode {
  background-color: #ffffff;
  color: #000;
}

/* Grid Layout */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

/* Card Styles */
.card {
  background-color: #222;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 1rem;
  text-decoration: none;
  color: inherit;
}

.card h2 {
  margin: 0 0 0.5rem;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 0.9rem;
  color: #bbb;
}

summary {
  font-size: x-large;
}
